
  .tableHeader{
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .tableTop{
    overflow-y: scroll;
    max-height: 250px;
    scrollbar-width: none;
  }
  @media screen and (max-width:993px) {

    .tableTop{
      overflow-y: scroll;
      max-height: 600px;
      overflow-x: auto;
    }
    /* .table {
      table-layout: fixed; 
      font-size: 12px;
    }
    
     th, td {
      word-wrap: break-word; 
    } 

    th:first-child, td:first-child {
      width: 10%; 
    }  */

    
  }
  